
*.o

*.exe

*.stackdump

output\.dat

mydispatcher\.xcworkspace/xcuserdata/bobby\.xcuserdatad/UserInterfaceState\.xcuserstate

mydispatcher\.xcworkspace/contents\.xcworkspacedata

\.DS_Store

*.plist

*.xcscheme

*.xcsettings



sub/~WRL0001\.tmp

*.tmp
